body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: gray;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(80vh * 0.33);
  height: 80vh;
  background-color: white;
  border: 3px solid black;
}

.light {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 33%;
  position: relative;
  margin: 10px;
}

.red {
  background-color: red;
  border: 5px solid darkred;
}

.yellow {
  background-color: yellow;
  border: 5px solid goldenrod;
  margin-top: 0;
  margin-bottom: 0;
}

.green {
  background-color: green;
  border: 5px solid darkgreen;
}

.small-box {
  position: absolute;
  border: none;
  margin: 0;
}

.small-box.red {
  width: 100%;
  height: 50%;
  background-color: lightcoral;
  bottom: 0;
}

.small-box.yellow {
  width: 50%;
  height: 50%;
  background-color: lightgoldenrodyellow;
  bottom: 0;
  right: 0;
}

.small-box.green {
  width: 50%;
  height: 50%;
  background-color: lightgreen;
  bottom: 0;
  left: 0;
}
